# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @squad-check-onboarding will be requested for review when someone
# opens a pull request.

@acesso-io/squad-check-onboarding
